.keeps{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 400px 400px 400px;

    margin-bottom: 50px;
    justify-content: space-evenly
}
button{
    width: auto;
    height: auto;
}